@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
:root {
  --header-height: 3rem;
  --nav-width: 68px;
  --dark-red: #A21217;
  --dark-Blue: #04063a;
  --white-color: #ffffff;
  --yellow-brown: #E49B0F;
  --Dblack : #1f1e1e;
  --light-red: #d60505;
  --light-black: #1e1d1d;
  --light-black2: rgb(55, 31, 31);
  --dark-black: #252424; 
  --body-font: "Nunito", sans-serif;
  --normal-font-size: 1rem;
  --z-fixed: 100;
}
*,
::before,
::after {
  box-sizing: border-box;
}
body {
  /* position: relative; */
  /* margin: var(--header-height) 0 0 0; */
  /* padding: 0 1rem; */
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: 0.5s;
  background: var(--Navy-Blue);
  font-family: 'Poppins', sans-serif;
  /* overflow: hidden; */
  
}

/* ####################################### main content ######################################## */
.main-cont{
    height: 85vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--dark-black);
    border-radius: 13px;
    overflow: hidden;
    box-shadow: 0px 10px 25px -8px #a90101;
    margin-top: 75px;
    display: flex;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.5));
    /* z-index: 1; */
    /* padding-right: 10rem; */

}
.main-cont .bgcarousel{
  position: absolute;
  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid yellow;
  /* object-fit:cover; */
  /* z-index: -10; */
  /* background: url(../videos/Free_Guy.mp4); */
  background: #000;
}
.Citem1{
  position: relative;
  width: 100%;
  height: 84.6vh;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: #E49B0F 1px solid;

}
video{
  object-fit: cover;
  height: 84.6vh;
  width: 100%;
  position: absolute;
  top: 0;
  opacity: 0.3;
  left: 0;
  /* aspect-ratio: 4/3; */
    /* z-index: 1; */
}
.content1{
  position: absolute;
  padding-bottom: 110px;
  /* z-index: 2; */
  /* display:flex; */
  justify-content:flex-start;
  text-align:left;
  align-items: flex-start;
  /* width: 60%; */
  right: 0;
  bottom: 0;
  left: 0;
  width: 90%;
  font-size: 0.9rem;
  font-weight:490;
  /* padding-left: 13rem; */
  /* font-size: 10px; */
}
.content1 .btn{
  font-size: 0.9rem;
  border: none;
  background-image: linear-gradient(to right, #c80a0a, #f94242, #c80a0a);
  transition: .5s;
  cursor: pointer;
  outline: none;
  background-size: 200%;
  font-weight: 600;
}
.content1 .btn1 {
 text-decoration: none;
 position: relative;
 list-style: none;
 /* border: 1.5px solid ; */
 /* border-image: linear-gradient(45deg, #c80a0a, #f94242, #c80a0a) 1; */
 padding:3px 16px;
 color: #ffffff;
 font-weight: 360;
}
.content1 .btn1::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50px; 
  border: 1.7px solid transparent;
  background: linear-gradient(to right, #8f0fdf, #da6812, #8f0fdf);
  --webkit-mask:
    linear-gradient(#fff 0 0) padding-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}
.content1 .btn:hover{
  background-position: right;
}
.content1 h1{
  text-shadow: 1px 1px 8px rgba(0,0,0,0.6);
  color: white;
  font-weight:900;
  font-size: 1.8rem;

}
.content1 img{
  font-weight:100;
  width: 46%;
  height: 37px;
}

/* .content2{
  position: absolute;
  padding-bottom: 110px;
  z-index: 2;
  display:flex;
  justify-content:flex-start;
  text-align:left;
  align-items: flex-start;
  width: 60%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 90%;
  font-size: 0.9rem;
  font-weight:600;
}
.content2 .btn{
  font-size: 0.8rem;
}
.content2 h1{
  text-shadow: 1px 1px 8px rgba(0,0,0,0.6);
  color: white;
  font-weight:600;
}
.content3{
  position: absolute;
  padding-bottom: 110px;
  justify-content:flex-start;
  text-align:left;
  align-items: flex-start;
  right: 0;
  bottom: 0;
  left: 0;
  width: 90%;
  font-size: 0.9rem;
  font-weight:600;
}
.content3 .btn{
  font-size: 0.8rem;
}
.content3 h1{
  text-shadow: 1px 1px 8px rgba(0,0,0,0.6);
  color: white;
  font-weight:600;
} */
.carousel-ind{
  margin-bottom: 53px;
}
.carousel-ind .indbtn{
  width: 100px !important;
  transition: all 0.3s;
}
.carousel-ind .indbtn:hover{
  transform: scale(1.1);
}



