*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.wave{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;
}

.card1{
		width: 96%;
		height: 90vh;
    /* display: grid; */
    /* grid-template-columns: re	peat(2, 1fr); */
    /* grid-gap :7rem; */
	padding-top: 5rem;
	/* margin-left: 2rem;	 */
	position: relative;
	background: transparent;
	border: none;
}

.card1 .img{
	display: flex;
	justify-content: flex-end;
	align-items: center;
    height: 70vh;
	width: 40vw;
}
.col2{
	/* border: 1px solid red; */
	/* width: 100%; */
		height: 90vh;
}
.card2{
	display: flex;	
	justify-content: flex-start;
	/* align-items: center;
	text-align: center; */
	justify-items: center;
	position: relative;
	border:none;
	background: transparent;
	width: 100%;
	height: 90vh;
	padding-top: 2.5rem;
	/* width: 100%; */
	/* border: 1px solid red; */
}
/* .card2 input label{
	justify-content: flex-start;
	align-items:flex-start;
	align-content: flex-start;
	display: flex;
} */
.img img{
	width: 500px;
}

form{
	width: 360px;
	font-size: 14px;
}
form input[placeholder]{
	height: 20px;
}
.card2 img{
    height: 110px;
	margin-left: 7rem;
}

.card2 h3{
	margin-bottom: 40px;
	color: #333;
	text-transform: uppercase;
	font-size: 1.7rem;
	/* margin-left: 2rem; */
}
/* .card2 .input-div{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.card2 .input-div.one{
	margin-top: 0;
}

.i{
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.i i{
	transition: .3s;
}

.input-div > div{
    position: relative;	
	height: 45px;
}

.input-div > div > h5{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
}

.input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #ac1004;
	transition: .4s;
}

.input-div:before{
	right: 50%;
}

.input-div:after{
	left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
	width: 50%;
}

.input-div.focus > div > h5{
	top: -5px;
	font-size: 15px;
}

.input-div.focus > .i > i{
	color: #ac1004;
}

.input-div > div > input{
	position: absolute;
	left: 0;
	top: 0;
		width: 100%;
		height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #555;
	font-family: 'poppins', sans-serif;
}

.input-div.pass{
	margin-bottom: 6px;
}

a{
	display: block;
	text-align: right;
	text-decoration: none;
	color: #999;
	font-size: 0.9rem;
	transition: .3s;
}

a:hover{
	color: #ac1004;
} */

.btn{
	/* display: block;	 */
	width: 100%;
	height: 40px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #c80a0a, #f94242, #c80a0a);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}
.btn:hover{
	background-position: right;
}


@media screen and (max-width: 1050px){
	.col1{
		grid-gap: 2rem;
		/* margin-right: 40px; */
		/* display: none; */
		/* height: 5vh; */
	}
	.card1{
		height: 70vh;
	}
	.card1 .img{
		height:50vh;
		width: 100%;
	}
}

@media screen and (max-width: 1000px){
	.card2{
		width: 100%;
		height: 76vh;
		/* grid-gap: 2rem; */
		margin-top: 3.6rem;
		background: #fff;
		/* border: 1px solid red; */
	}
	form{
		width: 100%;
		/* padding-top: 10px; */
		font-size: 8px;
		/* height: 5px; */

	}
	.from input{
		height: 10px;
	}
	.wave{
		/* display: none; */
		height: 100%;
	}
	.card2 h3{
        font-size:12px;
        /* margin: 8px 0; */
	}

	.card2 img{
		width: 50px;
		height: 50px;
		margin-left: 1rem;
	}
	.card2 .btn{
		width: 80px;
		height:30px ;
		font-size: 0.9rem;
	}
	.input-div > div > h5{
		font-size: 14px;
	}
}

@media screen and (max-width: 900px){
	.col1{
		grid-template-columns: 1fr;
	}

	.img{
		display: none;
		position: relative;
	}

	.wave{
		/* display: none; */
		height: 60%;
	}

	.col2{
		justify-content: center;
	}
	
}