@import url("https://fonts.googleapis.com/css?family=PT+Sans");

/* body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  background: url(http://eskipaper.com/images/blue-space-pictures-1.jpg)
    no-repeat;
} */
.Mcard{
  position: relative;
  /* top: 50%; */
  left: 6%;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  /* transform: translate(-50%, -50%); */
  background: #000;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  width: 86%;
  /* border: none; */
  /* height: 240px; */
  /* border: 1px solid red; */
}

.Mcard .poster {
  position: relative;
  overflow: hidden;
  object-fit: cover;
}

.Mcard .poster:before {
  content: "";
  position: absolute;
  bottom: -250px;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #000 50%, transparent);
  transition: 0.5s;
  z-index: 1;
}

.Mcard:hover .poster:before {
  bottom: 0;
}

.Mcard .poster .postimg {
  width: 100%;
  transition: 0.5s;
  object-fit: cover;
  position: relative;
}

.Mcard:hover .poster .postimg {
  filter: blur(2px);
  transform: translateY(-30px);
}

.details {
  position: absolute;
  padding: 20px;
  width: 100%;
  height: 78%;
  bottom: -245px;
  left: 0;
  box-sizing: border-box;
  transition: 0.5s;
  z-index: 2;
}

.Mcard:hover .details {
  bottom: 0;
}

.details h2 {
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
/* 
.details h2 span {
  font-size: 14px;
  color: #ff9800;
} */

.rating {
  position: relative;
  padding: 5px, 0;
}

.rating .fa-star {
  color: #f7f406;
  margin-right: 2px;
  font-size: 12px;
}

.rating span {
  color: #fff;
  padding: 0 5px;
  font-size: 12px;
}

.tags {
  position: relative;
  margin-top: 5px;
}

.tags span {
  padding: 2px 5px;
  margin-right: 2px;
  color: #fff;
  display: inline-block;
  border-radius: 4px;
  font-size: 12px;
}

.tags span.fantasy {
  /* background: #7206f7; */
  outline:1px solid #7206f7;
}

.tags span.scifi {
  /* background: #f70661; */
  outline:1px solid #f70661;
}
.imp .Mbtn{
    font-weight: 500;
    font-size: 13px;
    /* width: 65px; */
    /* height: 40px; */
    transition: .5s;
    cursor: pointer;
    outline: none;
    background-size: 200%;
    background-image: linear-gradient(to right, #c80a0a, #f94242, #c80a0a);

}
.imp .Mbtn:hover{
    background-position: right;
    /* color: #000; */
}

.info {
  color: #fff;
}

.info p {
  margin: 15px, 0, 10px;
  font-size: 11px;
}

.star {
  position: relative;
}

.star h4 {
  margin: 0;
  padding: 0;
  font-size: 10px;
  color: #f7f406;
}

.star ul {
  margin: 10px 0 0;
  padding: 0;
  display: flex;
}

.star ul li {
  list-style: none;
  width: 45px;
  height: 45px;
  background: #fff;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 6px;
  border: 2px solid #fff;
}

.star ul li img {
  width: 100%;
}
/* ################################### Carousel ################################# */
h3 {
	color: #960303;
	font-size: 16px;
	text-align: center;
	position: relative;
	margin: 40px 70px;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
}
h3::after {
	content: "";
	width: 100%;
	position: absolute;
	margin: 0 auto;
	height: 1px;
	border-radius: 1px;
	background: #f80606;
	left: 0;
	right: 0;
	bottom: 14px;

}
h3 span {
	display: inline-block;
	padding: 0 25px;
    color: #000;
	background:#ebebeb;
	position:relative;
	z-index:2;
    font-size: 25px;
	font-weight: 700;
}
.MCarousel {	
	margin: 0 auto;
	padding: 0 40px;
    /* height: 56vh; */
    /* width: 100%; */
    /* border: 1px solid red; */
}
.MCarousel .Citem {
	/* text-align: center;
    justify-content: center; */
	overflow: hidden;
	/* height: 49vh; */
    width: 100%;
}
.MCarousel .Citem{
	/* background: #fff; */
	padding: 9px;
	box-shadow: 0 6px 20px -6px rgba(0,0,0,0.4);
}
/* .MCarousel .Citem img {
	margin: 0 auto;
} */
.prev, .next {
	width: 70px;
	background: none;
}
.prev .licon, .next .ricon {
	font-size: 28px;
	position: relative;
	/* top: 6%; */
	display: inline-block;
	/* margin-top: -15px; */
	z-index: 5;
	left: 0;
    /* width: 100%; */
    /* margin-left:1rem; */
    justify-content: center;
    align-items: center;
    text-align: center;
	right: 0;
	color: rgba(25, 7, 7, 0.8);
	text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.indicators {
	bottom: -30px; 
    /* padding-top: 100rem; */
    position: absolute;
}
.indicators .CLINK, .indicators .CLINK.active {
	width: 10px;
	height: 10px;
    position: relative;
	border: none;
	border-radius: 50%;
	margin: 0 4px;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.indicators .CLINK {	
	background: #f9f9f9;
	border-color: transparent;
}
.indicators .CLINK.active {
	background: #555;
}