
@import url("https://fonts.googleapis.com/css?family=Barlow:300,400,700|Libre+Franklin:400,600,700|Poppins:400,600,700,800");
body, p {
  font-family: "Libre Franklin", sans-serif;
  line-height: 26px;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  color: #666;
  font-weight: 400;
}

/* 
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  color: #1c1c1c;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  letter-spacing: -0.03em;
}

h1, .h1 {
  font-size: 36px;
  line-height: 48px;
}

h2, .h2 {
  font-size: 28px;
  line-height: 36px;
}

h3, .h3 {
  font-size: 24px;
}

h4, .h4 {
  font-size: 18px;
  line-height: 28px;
}

h5, .h5 {
  font-size: 14px;
  line-height: 24px;
} */
/* 1.2. Common styles
================================================== */
body {
    background: #fff;
    color: #575769;
  }
  
  html, body {
    height: 100%;
  }
  
  a {
    color: #dc3545;
  }
  a:link, a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
    color: #000;
  }
  a.read-more {
    color: #dc3545;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0.5px;
  }
  a.read-more:hover {
    color: #000;
  }
  .p-top-0 {
    padding-top: 0;
  }
  
  .p-bottom-0 {
    padding-bottom: 0;
  }
  
  .m-top-0 {
    margin-top: 0 !important;
  }
  
  .mb-0 {
    margin-bottom: 0;
  }
  
  .media > .pull-left {
    margin-right: 20px;
  }
  
  img.banner {
    display: inline-block;
  }
  
  .gap-60 {
    clear: both;
    height: 60px;
  }
  
  .py-50 {
    clear: both;
    height: 50px;
  }
  
  .py-40 {
    clear: both;
    height: 40px;
  }
  
  .py-30 {
    clear: both;
    height: 30px;
  }
  
  .gap-20 {
    clear: both;
    height: 20px;
  }
  
  .mrb-30 {
    margin-bottom: 30px;
  }
  
  .mrb-80 {
    margin-bottom: -80px;
  }
  
  .mrt-0 {
    margin-top: 0 !important;
  }
  
  .pab {
    padding-bottom: 0;
  }
  
  .mt-3 {
    margin-top: 3px;
  }
  
  a:focus {
    outline: 0;
  }
  
  img.pull-left {
    margin-right: 20px;
    margin-bottom: 20px;
  }
  img.pull-right {
    margin-left: 20px;
    margin-bottom: 20px;
  }
  
  ol, ul {
    margin-bottom: 20px;
  }
  
  .ts-padding {
    padding: 60px;
  }
  
  .solid-bg {
    background: #f9f9f9;
  }
  
  .solid-row {
    background: #f0f0f0;
  }
  .btn-primary, .btn-dark {
    border: 0;
    border-radius: 2px;
    padding: 15px 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    transition: 350ms;
  }
  
  .btn-white.btn-primary {
    background: #fff;
    color: #dc3545;
  }
  
  .btn-primary {
    background: #dc3545;
  }
  .btn-primary:hover {
    background: #d32535;
    color: #fff;
  }
  
  .btn-dark {
    background: #292931;
  }
  
  .btn-dark:hover, .btn-white.btn-primary:hover {
    background: #272d33;
    color: #fff;
  }
  
  .general-btn {
    clear: both;
    margin-top: 50px;
  }
  
  /* Ul, Ol */
  .list-round, .list-arrow, .list-check {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .list-round li {
    line-height: 28px;
  }
  .list-round li:before {
    font-family: FontAwesome;
    content: "\f138";
    margin-right: 10px;
    color: #dc3545;
    font-size: 12px;
  }
  
  .list-arrow {
    padding: 0;
  }
  
  ul.list-arrow li:before {
    font-family: FontAwesome;
    content: "\f105";
    margin-right: 10px;
    color: #dc3545;
    font-size: 16px;
  }
  ul.list-check li:before {
    font-family: FontAwesome;
    content: "\f00c";
    margin-right: 10px;
    color: #dc3545;
    font-size: 14px;
  }
  
  /* Bootstrap */
  .nav-tabs > li.active > a {
    border: 0;
    background: none;
  }
  .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    border: 0;
    background: none;
  }
  .nav-tabs > li > a {
    border: 0;
    background: none;
  }
  .nav-tabs > li > a:hover {
    border: 0;
    background: none;
  }
  
  .nav > li > a:focus, .nav > li > a:hover {
    background: none;
  }
  
  a[href^=tel] {
    color: inherit;
    text-decoration: none;
  }
    
  /*  */
  .navigation {
    padding: 10px 0;
  }
  
  .header-navigation {
    padding: 10px 0;
    background: #fff;
  }
  
  .logo {
    padding: 28px 0;
  }
  
  .navbar-collapse {
    padding-left: 0;
  }
  
  .navbar-toggler {
    padding: 8px;
  }
  .navbar-toggler:focus {
    outline: none;
  }
  
  .navbar-nav .nav-item .active.nav-link:before {
    opacity: 1;
  }
  .navbar-nav .nav-item .nav-link {
    padding-right: 25px;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    margin: 0;
    position: relative;
    transition: 350ms;
  }
  @media (max-width: 767px) {
    .navbar-nav .nav-item .nav-link {
      display: block;
    }
  }
  @media (max-width: 575px) {
    .navbar-nav .nav-item .nav-link {
      display: block;
    }
  }
  @media (max-width: 991px) {
    .navbar-nav .nav-item .nav-link {
      display: block;
      padding: 10px 0;
    }
  }
  .navbar-nav .nav-item .nav-link:hover:before, .navbar-nav .nav-item .nav-link.active .navbar-nav .nav-item .nav-link:before {
    opacity: 1;
  }
  
  .main-navbar {
    position: relative;
    border-bottom: 3px solid #dc3545;
  }
  .main-navbar .dropdown:hover .dropdown-menu {
    transform: scaleY(1);
    opacity: 1;
    display: block;
    visibility: visible;
  }
  .main-navbar .dropdown-menu {
    text-align: left;
    background: #fff;
    z-index: 999;
    min-width: 230px;
    border-radius: 0;
    border: 0;
    margin: 0;
    display: block;
    transform: scaleY(0);
    opacity: 0;
    visibility: hidden;
    transform-origin: top;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.1);
  }
  @media (max-width: 767px) {
    .main-navbar .dropdown-menu {
      display: none;
    }
  }
  @media (max-width: 575px) {
    .main-navbar .dropdown-menu {
      display: none;
    }
  }
  @media (max-width: 991px) {
    .main-navbar .dropdown-menu {
      display: none;
    }
  }
  .main-navbar .dropdown-menu .dropdown-item {
    display: block;
    font-size: 14px;
    padding: 8px 15px;
    border-bottom: 1px solid #e5e5e5;
    color: #1c1c1c;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease;
  }
  .main-navbar .dropdown-menu .dropdown-item:last-child {
    border: none;
  }
  .main-navbar .dropdown-menu .dropdown-item:hover {
    background: #dc3545;
    color: #fff;
  }
  
  .site-search {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    z-index: 10;
    top: 0;
  }
  .site-search input {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 3%;
    border: 0;
    background-color: #fff;
    color: #dc3545;
    font-size: 17px;
    font-family: "Poppins", sans-serif;
  }
  .site-search input:focus {
    outline: 0;
    box-shadow: none;
    border: none;
  }
  .site-search .search-close {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    right: 3%;
    cursor: pointer;
  }
  
  .site-search.visible {
    opacity: 1;
    visibility: visible;
  }
  
  .nav-search span {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
  }
  
  .close-search {
    font-size: 20px;
  }
  
  .top-navigation {
    padding: 8px 0;
    border-bottom: 1px solid #dedede;
    color: #a3a3a3;
    font-size: 13px;
  }
  
  .top-nav {
    display: inline-block;
  }
  .top-nav li {
    display: inline-block;
    line-height: 12px;
    padding-left: 12px;
  }
  .top-nav li a {
    background: none;
    color: #a3a3a3;
    padding: 0;
    line-height: 100%;
  }
  .top-nav li a:hover {
    color: #dc3545;
  }
  
  .top-nav-social-lists ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: -3px;
  }
  .top-nav-social-lists li {
    display: inline-block;
    padding: 0;
  }
  .top-nav-social-lists li a {
    color: #a3a3a3;
    margin-right: 15px;
    font-size: 14px;
    transition: 400ms;
  }
  .top-nav-social-lists li a:hover {
    color: #fff;
  }
  .mybg{
    background: #000 !important;

  }
  /* .bg-dark {
    background: #000 !important;
  } */


  .hero {
    padding-top: 50px;
  }
  
  .hero__items {
    padding: 250px 0 42px 50px;
    border-radius: 5px;
  }
  
  .hero__text {
    position: relative;
    z-index: 9;
  }
  
  .hero__text .label {
    font-size: 13px;
    color: #e53637;
    background: #ffffff;
    padding: 5px 14px 3px;
    display: inline-block;
    position: relative;
    top: -100px;
    opacity: 0;
    -webkit-transition: all, 0.2s;
    -o-transition: all, 0.2s;
    transition: all, 0.2s;
  }
  
  .hero__text h2 {
    color: #ffffff;
    font-size: 42px;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    line-height: 52px;
    margin-top: 35px;
    margin-bottom: 8px;
    position: relative;
    top: -100px;
    opacity: 0;
    -webkit-transition: all, 0.4s;
    -o-transition: all, 0.4s;
    transition: all, 0.4s;
  }
  
  .hero__text p {
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 40px;
    position: relative;
    top: -100px;
    opacity: 0;
    -webkit-transition: all, 0.6s;
    -o-transition: all, 0.6s;
    transition: all, 0.6s;
  }
  
  .hero__text a {
    position: relative;
    top: -100px;
    opacity: 0;
    -webkit-transition: all, 0.8s;
    -o-transition: all, 0.8s;
    transition: all, 0.8s;
  }
  
  .hero__text a span {
    font-size: 13px;
    color: #ffffff;
    background: #e53637;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 14px 20px;
    border-radius: 4px 0 0 4px;
    margin-right: 1px;
  }
  
  .hero__text a i {
    font-size: 20px;
    display: inline-block;
    background: #e53637;
    padding: 11px 5px 16px 8px;
    color: #ffffff;
    border-radius: 0 4px 4px 0;
  }
  
  .hero__slider.owl-carousel .owl-item.active .hero__text .label {
    top: 0;
    opacity: 1;
  }
  
  .hero__slider.owl-carousel .owl-item.active .hero__text h2 {
    top: 0;
    opacity: 1;
  }
  
  .hero__slider.owl-carousel .owl-item.active .hero__text p {
    top: 0;
    opacity: 1;
  }
  
  .hero__slider.owl-carousel .owl-item.active .hero__text a {
    top: 0;
    opacity: 1;
  }
  
  .hero__slider.owl-carousel .owl-dots {
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    text-align: center;
  }
  
  .hero__slider.owl-carousel .owl-dots button {
    height: 8px;
    width: 8px;
    background: #b7b7b7;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .hero__slider.owl-carousel .owl-dots button.active {
    background: #ffffff;
  }
  
  .hero__slider.owl-carousel .owl-dots button:last-child {
    margin-right: 0;
  }
  
  .hero__slider.owl-carousel .owl-nav button {
    font-size: 36px;
    height: 66px;
    width: 66px;
    background: #0b0c2a;
    line-height: 66px;
    text-align: center;
    color: #ffffff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: relative;
    z-index: 1;
    position: absolute;
    left: -33px;
    top: 50%;
    margin-top: -47px;
  }
  
  .hero__slider.owl-carousel .owl-nav button.owl-next {
    left: auto;
    right: -33px;
  }
  
  .hero__slider.owl-carousel .owl-nav button:after {
    position: absolute;
    top: 6px;
    left: 0;
    right: 0;
    height: 54px;
    width: 54px;
    background: rgba(255, 255, 255, 0.1);
    content: "";
    z-index: -1;
    margin: 0 auto;
  }
  
  .hero__slider.owl-carousel .owl-nav button span {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    display: block;
    z-index: 1;
  }
  
  
  .dropdown-menu {
    padding: 0px;
  }
  
  .navbar-toggler span {
    color: #fff;
  }
  .carousel-item{
    height: 556px;
  }
  
  /*** Header ***/
.carousel-caption {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, .1);
  z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
  width: 15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 3.5rem;
  background-color: var(--primary);
  border: 15px solid var(--primary);
}

@media (max-width: 768px) {
  #header-carousel .carousel-item {
      position: relative;
      min-height: 450px;
  }
  
  #header-carousel .carousel-item img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
}

.page-header {
  background: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), url(../img/carousel-1.jpg) center center no-repeat;
  background-size: cover;
}

.page-header .breadcrumb-item+.breadcrumb-item::before {
  color: var(--light);
}

.page-header .breadcrumb-item,
.page-header .breadcrumb-item a {
  font-size: 18px;
  color: var(--light);
}