<<<<<<< Updated upstream
=======
.popup{
    position: absolute;
    top: -150%;
    left:50%;
    transform: translate(-50%,-50%) scale(1.25);
    background:#fff ;
    width:380px;
    padding: 20px 30px ;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15) ;
    border-radius: 10px;
    border:1px solid #888;
    transition: top 0ms ease-in-out 200ms ,
                opacity 200ms ease-in-out 20ms ,
                transform 20ms ease-in-out 20ms;
     z-index: 1;           
}
.popup .close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;height: 15px;
    background: #888;
    text-align: center;
    color: #fff;
    line-height: 15px;border-radius: 15px;cursor:pointer; 
}

.popup.active{
    top: 50%;
    opacity: 1;
    transform: translate(-50%,-50%)scale(1);
    transition: top 0ms ease-in-out 0ms ,
                opacity 200ms ease-in-out 0ms ,
                transform 20ms ease-in-out 0ms;
}
>>>>>>> Stashed changes
