/* body{background-color: rgb(250, 119, 119)}
.container{height: 100vh}
.card{width: 100%;padding: 30px}
.form{padding: 20px}
.form-control{height: 50px;background-color: #eee}
.form-control:focus{
  color: #495057;
  background-color: #fff;
  border-color: rgb(250, 119, 119);
  outline: 0;
  box-shadow: none;
  background-color: #eee}
  .inputbox{margin-bottom: 15px}
  .register{
    width: 200px;
    height: 51px;background-color: rgb(250, 119, 119);
    border-color: rgb(250, 119, 119);
  }
  .register:hover{
    width: 200px;height: 51px;
    background-color: rgb(250, 119, 119);border-color: rgb(250, 119, 119)}
    .login{color: rgb(250, 119, 119);text-decoration: none}
    .login:hover{color: rgb(250, 119, 119);text-decoration: none}
    .form-check-input:checked{background-color: rgb(250, 119, 119);border-color: 
    }
    @import url('https://fonts.googleapis.com/css?family=Assistant');

body {
    /* background: #eee; */
    font-family: Assistant, sans-serif
}

.external-link {
  cursor: pointer;
  color: blue;
}
 */
